.footer {
  background-color: #111115;
  color: #fff;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 51px;
}
.sub1,
.sub3 {
  display: flex;
  justify-content: space-between;
}
.sub1 {
  margin-bottom: 36px;
  align-items: flex-start;
}
.sub2 {
  margin-bottom: 44px;
}
.sub1 a,
.sub2 a {
  display: block;
  text-align: center;
}
.sub3 {
  align-items: flex-end;
  text-align: left;
}
.sub1 .logo {
  padding-top: 0;
  padding-bottom: 5px;
}
.sub1 .logo::before {
  left: 10px;
  bottom: 5px;
  height: 30px;
  width: 10px;
}
.subscribe h4 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 13px;
  text-align: left;
}
.email {
  box-sizing: border-box;
  background: transparent;
  margin-right: 6px;
  height: 42px;
  color: #bdbdbd;
  padding: 0 9px;
  width: 228px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  outline: none;
}
.email:valid {
  border: 1px solid #f9804b;
}
.email:invalid {
  border: 1px solid #d31414;
}
.email:active {
  border: 1px solid #4b9200;
}
.email:invalid:focus + button {
  border: 1px solid #d31414;
  color: #d31414;
}
.email + button:active {
  border: 1px solid #4b9200;
  color: #4b9200;
}
.social li {
  margin-top: 11px;
}
.social li:first-child {
  margin-top: 0;
}
.social a:active {
  color: #4b9200;
}
.social a:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: url(../../assets/icons/facebook_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
  margin: 0 12px -7px 0;
}
.social li:nth-of-type(2) a:before {
  background: url(../../assets/icons/twitter_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social li:nth-of-type(3) a:before {
  background: url(../../assets/icons/instagram_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social li:nth-of-type(4) a:before {
  background: url(../../assets/icons/youtube_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social a:active:before {
  background: url(../../assets/icons/facebook_icon.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(2) a:active:before {
  background: url(../../assets/icons/twitter_icon.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(3) a:active:before {
  background: url(../../assets/icons/instagram_icon.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(4) a:active:before {
  background: url(../../assets/icons/youtube_icon.svg) 50% no-repeat, #4b9200;
}
.footer_menu {
  position: relative;
  left: 85px;
}
.footer_menu li {
  margin-right: 54px;
  display: inline-block;
}
.copy {
  font-weight: 100;
  width: 220px;
}
.copy a:active,
.copy a:hover {
  color: #4b9200;
  text-decoration: underline;
}
.copy {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;
}
.copy a {
  display: block;
}
.copy a:last-child {
  margin-top: 8px;
  margin-bottom: -1px;
}
